alabaster==0.7.10
altgraph==0.15
amqp==2.2.2
appdirs==1.4.3
appnope==0.1.0
astroid==1.5.3
Babel==2.4.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.0
beets==1.4.6
billiard==3.5.0.3
blinker==1.4
bottle==0.12.13
bs4==0.0.1
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
charts==0.4.6
click==6.6
colorama==0.3.9
configparser==3.5.0
cssselect==1.0.1
cycler==0.10.0
Cython==0.25.2
decorator==4.1.2
defusedxml==0.5.0
demjson==2.2.4
Django==1.11.5
django-appconf==1.0.2
django-autoslug==1.9.3
django-compressor==2.2
django-contrib-comments==1.8.0
django-debug-toolbar==1.8
django-haystack==2.6.1
django-ipware==1.1.6
django-markdown==0.8.4
django-pagedown==0.1.3
django-threadedcomments==1.1
django-uuslug==1.1.8
djangorestframework==3.6.4
dlib==19.6.1
docopt==0.6.2
docutils==0.13.1
dominate==2.2.1
entrypoints==0.2.2
et-xmlfile==1.0.1
ez-setup==0.9
face-recognition==1.0.0
face-recognition-models==0.2.0
Faker==0.7.17
feedparser==5.2.1
flake8==3.0.4
Flask==0.11.1
Flask-Bootstrap==3.3.7.0
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Moment==0.5.1
flask-mongoengine==0.8
Flask-Script==2.0.5
Flask-WTF==0.13.1
future==0.16.0
get==0.0.11
gitsome==0.7.2
gnureadline==6.3.3
h5py==2.7.1
httpie==0.9.6
idna==2.5
image==1.5.11
imagesize==0.7.1
IPy==0.83
ipykernel==4.4.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.15
itchat==1.2.32
itsdangerous==0.24
jdcal==1.3
jellyfish==0.6.0
jieba==0.39
Jinja2==2.8
jsonpickle==0.9.5
jsonschema==2.6.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
kombu==4.1.0
lazy-object-proxy==1.3.1
lxml==3.4.4
macholib==1.9
Markdown==2.6.8
markdown2==2.3.4
MarkupSafe==0.23
matplotlib==2.1.2
mccabe==0.5.2
mistune==0.7.4
mongoengine==0.10.6
munkres==1.0.12
musicbrainzngs==0.6
mutagen==1.40.0
nbconvert==4.2.0
nbformat==4.1.0
networkx==2.0
notebook==4.2.2
numpy==1.14.0
numpydoc==0.7.0
olefile==0.44
openpyxl==2.4.8
packaging==16.8
pandas==0.20.3
pandoc==1.0.0b2
parsel==1.3.1
patsy==0.4.1
pefile==2017.11.5
pexpect==4.2.0
pickleshare==0.7.3
Pillow==4.2.1
pipreqs==0.4.9
ply==3.10
post==0.0.8
pprint==0.1
prompt-toolkit==1.0.5
protobuf==3.0.0b2
psutil==5.4.1
ptyprocess==0.5.1
public==0.0.34
py==1.4.31
pycodestyle==2.0.0
pycurl==7.43.0
pyecharts==0.1.9
pyflakes==1.2.3
Pygments==2.2.0
PyInstaller==3.3
pylint==1.7.4
pymongo==3.3.0
PyMySQL==0.7.11
pyocr==0.4.7
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
pypng==0.0.18
PyQRCode==1.2.1
pyquery==1.2.17
pyspider==0.3.9
pysqlite3==0.1.0
pystan==2.16.0.0
pytesser3==1.0.1
pytesseract==0.1.7
pytest==3.0.3
python-dateutil==2.6.1
python-igraph==0.7.1.post6
python-memcached==1.58
python-slugify==1.2.4
python-telegram-bot==8.1.1
pytz==2018.3
PyYAML==3.12
pyzmq==15.4.0
qtconsole==4.2.1
query-string==0.0.8
rcssmin==1.0.6
request==0.0.8
requestium==0.1.9
requests==2.18.4
requests-file==1.4.3
requirements==0.1
rjsmin==1.0.12
scapy==2.4.0
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8.1
selenium==3.11.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
source==1.2.0
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
SQLAlchemy==0.7.8
sqlparse==0.2.3
statsmodels==0.8.0
swampy==2.1.7
tblib==1.3.2
tensorflow==0.8.0
terminado==0.6
tesseract==0.1.3
tldextract==2.2.0
tornado==4.4.1
traitlets==4.2.2
typing==3.5.2.2
u-msgpack-python==2.4.1
Unidecode==0.4.21
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
visitor==0.1.3
w3lib==1.18.0
Wand==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.11.11
WeRoBot==1.1.1
Whoosh==2.7.4
widgetsnbextension==1.2.6
wordcloud==1.3.1
wrapt==1.10.11
WsgiDAV==2.2.2
WTForms==2.1
wxpy==0.3.9.8
xlrd==1.1.0
xmltodict==0.11.0
yarg==0.1.9
you-get==0.4.523
zhon==1.1.5
