.highlight .c { color: #008800; font-style: italic;} /* Comment */
.highlight .err, .esc, .g, .k, .l, .n, .o, .x, .p { color: #24292e } /* Error */
.highlight .ch { color: #008800; font-style: italic;} /* Comment.Hashbang */
.highlight .cm { color: #008800; font-style: italic;} /* Comment.Multiline */
.highlight .cp { color: #ff0007; font-weight: bold; font-style: italic;} /* Comment.Preproc */
.highlight .cpf { color: #008800; font-style: italic; } /* Comment.PreprocFile */
.highlight .c1 { color: #6a737d; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #008800; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #24292e } /* Generic.Deleted */
.highlight .ge { color: #24292e } /* Generic.Emph */
.highlight .gr { color: #24292e } /* Generic.Error */
.highlight .gh { color: #24292e; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #24292e } /* Generic.Inserted */
.highlight .go { color: #444444;} /* Generic.Output */
.highlight .gp { color: #24292e } /* Generic.Prompt */
.highlight .gs { color: #24292e } /* Generic.Strong */
.highlight .gu { color: #24292e; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #24292e } /* Generic.Traceback */
.highlight .kc, .kd, .kn, .kp, .kr{ color: #fb660a;} /* Keyword.Constant */
.highlight .kt, .fm { color: #ff0007; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #24292e } /* Literal.Date */
.highlight .m { color: #0086d2; font-weight: bold } /* Literal.Number */
.highlight .s { color: #0086d2 } /* Literal.String */
.highlight .na { color: #cdcaa9;} /* Name.Attribute */
.highlight .nb { color: #24292e } /* Name.Builtin */
.highlight .nc { color: #6f42c1 } /* Name.Class */
.highlight .no { color: #0086d2 } /* Name.Constant */
.highlight .nd { color: #24292e } /* Name.Decorator */
.highlight .ni { color: #24292e } /* Name.Entity */
.highlight .ne { color: #24292e; } /* Name.Exception */
.highlight .nf { color: #0086d2; font-weight: bold } /* Name.Function */
.highlight .nl, .nv, .vc, .vi, .vm, .vg { color: #fb660a} /* Name.Label */
.highlight .nn { color: #24292e } /* Name.Namespace */
.highlight .nx { color: #24292e } /* Name.Other */
.highlight .py { color: #24292e } /* Name.Property */
.highlight .nt { color: #cdcaa9; font-weight: bold } /* Name.Tag */
.highlight .ow { color: #24292e; } /* Operator.Word */
.highlight .w { color: #cdcaa9 } /* Text.Whitespace */
.highlight .mb, .mf, .mh, .mi, .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.highlight .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, il  { color: #0086f7 } /* Literal.String.Affix */
.highlight .bp { color: #24292e } /* Name.Builtin.Pseudo */
