<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="apple-touch-icon">
    <link rel="icon" href="{% static "img/logo.png" %}">
    <title>About me</title>
    <link rel="stylesheet" href={% static "css/semantic.css" %}>
    <link rel="stylesheet" href="{% static "css/git.css" %}">
<style>
body {
    margin-top:30px;
    margin-bottom:30px;
}

table tr td {
    border: none;
    padding:0;
}
</style>
</head>
<body>
<h2>关于我</h2>


<table>
    <tr>
        <td>
            <p>
                HI，我的名字是<b>袁登攀</b>(看清楚，我很讨厌些眼神不好把我叫做<b>袁攀登</b>的家伙哦)。我来自陕西西安，一座富有文化内涵的城市，人杰地灵，古色古香。我家里共有4名家庭成员，我的父亲是一家地产公司的项目经理，母亲是全职家庭主妇（<i>从我出生开始</i>），有一个哥哥，我和他的关系很好。我现在在罗格斯大学就读信息与计算机专业（之前在西安交通利物浦大学就读），喜欢体验新鲜的事物。
            </p>
        </td>
        <td>
        <img src="http://otr4re8c8.bkt.clouddn.com/self_photo.png" alt=""
     style="max-width:100%;max-height:100%;">
        </td>
    </tr>
</table>

<h2>爱好</h2>

<p>我的爱好广泛，虽然不能都达到出神入化的地步，但大多数的爱好都是涉猎后感兴趣的。</p>


<ul>
    <li>摄影，入门级ps水平，索狗。</li>
    <li>编程，网站搭建与人工智能，三流程序员水平。</li>
    <li>健身，还在努力减体脂，希望BMI下降到20%。</li>
    <li>读书，有一个Kindle，长途旅行的最佳选择。</li>
    <li>Fine art, 不同艺术家的表达手法，穆夏，提香，丢勒...</li>
    <li>各式各样的威化饼，最钟爱干脆不油腻，不是很甜的品类。</li>
    <li>RTS，偶尔会玩玩war craft,红警，AOE...</li>
    <li>流行歌，无特别喜爱歌手，品味大众化，billborad前茅的歌曲基本都喜欢。</li>
    <li>学习，任何感兴趣的知识技能。</li>
    <li>衣服，鞋子， 虽然没钱买奢侈潮牌，但是很喜欢通过不同颜色的组合搭配出自己认为很好看的套装。</li>
    <li>美食，和好友每周必有一次饭局，品尝各种独特的小馆。</li>
    <li>荒岛求生的纪录片或者电影，远离现代文明。</li>
    <li>科技，玲琅满目的电子设备，购买欲不强但会花时间去专卖店体验。</li>
</ul>


<h2>愿望</h2>

<ul>
    <li>一次格陵兰之旅，出海看冰山，观鲸，带上相机拍摄北极光。</li>
    <li>南美玻利维亚镜湖拍组照片，乌尤尼盐沼看夕阳。</li>
    <li>带父母来次欧洲深度游，花费自己的钱。</li>
    <li>学一门西方乐器，希望靠乐器认识一些朋友。</li>
    <li>一辆自己的跑车。</li>
</ul>
</body>
</html>
