{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>pan blog</title>
    <link rel="stylesheet" href={% static "css/semantic.css" %}>
    <link rel="stylesheet" href={% static "css/pan_blog.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Timmana" rel="stylesheet">
    <link rel="icon" href="{% static "img/logo.png" %}">
    <script rel="script" src={% static "js/jquery.js" %}></script>
    <script rel="script" src={% static "js/jquery.waypoints.min.js" %}></script>
    <script rel="script" src="{% static "js/infinite.min.js" %}"></script>
</head>
<body>

<div class="head">
    <div class="inner" style="max-width: 1100px;">
        <a class="head-logo" href="{% url "home" %}">Just Simple</a>
        <nav class="head-nav-color" style="float: right;">
            <a href="{% static "finished_aviator/index.html" %}" style="color:cornflowerblue;"># About</a>
        </nav>
    </div>
</div>

<div class="info">
    <div class="inner">
        <a class="info_logo" href="{% url "home" %}">
            <img src="{% static "img/logo.png" %}">
        </a>
        <div class="info_main">
            <h1 class="info_title">
                <a style="color:black;" href="{% url "home" %}">
                    pan blog
                </a>
            </h1>
            <h2 class="info_subtitle">
                一个人行走的范围，便是他的世界.
            </h2>
        </div>
        <div class="info_social">
            <a href="https://github.com/PanPython123">
                <i class="ui icon github"></i>
            </a>
            <a href="https://twitter.com/Cookie_Yuan_">
                <i class="ui icon twitter"></i>
            </a>
        </div>
    </div>
</div>


<div class="main">

    <div class="infinite-container">
        {% for article in article_list %}
            <div class="infinite-item">
                <div class="inner">
                    <div class="item Article Cover" lang="zh">
                        <a class="item-cover" href="{% url 'content' article.id %}">
                            {% if article.image_url %}
                                <div class="item-cover-image">
                                    <div class="cover-image"
                                         style="background-image:url({{ article.image_url }}); height: 100%; width: 100%"></div>
                                </div>
                                <div class="item-cover-inner">
                                <time class="date">{{ article.date }}</time>
                                <h3 class="inner-title">{{ article.title }}</h3>
                                <h4 class="inner-description">{{ article.description }}</h4>
                                </div>
                            {% else %}
                                <div class="item-non-cover-inner">
                                    <time class="date">{{ article.date }}</time>
                                    <h3 class="inner-title">{{ article.title }}</h3>
                                    <h4 class="inner-description">{{ article.description }}</h4>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% if article_list.has_next %}
        <a class="infinite-more-link" href="?page={{ article_list.next_page_number }}"></a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>
</div>
</div>

<script>
    {#    var content = $(".infinite-container")[0];#}
    var infinate = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
        }
    });

    {#    var inner_images = $(".a")#}

</script>

</body>
</html>
